.game-field-container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;

}
.game-cell {
    border: 2px solid white;
    height: 48px;
    width: 48px;
    background-color: green;
}
#ms-input-field {
    border: 2px solid green;
    border-radius: 5px;
    
}
.rate-block {
    display: flex;
}
.rate-value {
    padding-left: 5px;
}